<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div>@Html.ActionLink("About", "About", "Home")</div>
        <div>@Html.ActionLink("Contact", "Contact", "Home")</div>
        <div>@Html.ActionLink("Projects", "Projects", "Home")</div>

        <div>@Html.ActionLink("Check Temperature", "CheckTemperature", "Doctor")</div>
        <div>@Html.ActionLink("Guessing Game", "GuessingGame", "Guessinggame")</div>

    </header>
    <div>
        @RenderBody()
    </div>
    <footer> @DateTime.Now.ToShortDateString() <br>Maryam Rezaee</footer>
</body>
</html>
